{{#each socialAssets}}
    <div data-id="{{id}}" class="asset text{{#if media}} media{{/if}}" data-tags="{{tagattrs tags}}"{{#if media}} style="background-image:url('{{media.0.mediaUrl}}')"{{/if}}>

        <div class="asset-gutter">
            <div class="author-pic" style="background-image:url({{authorAvatarUrl}})">
                <i class="provider" data-from="{{socialType}}"></i>
            </div>
        </div>

        <div class="asset-content">
            <header class="group g-header">
                <h2>
                    <span class="author">{{authorName}}</span>
                    <span class="handle"><em>@{{authorDisplayName}}</em></span>
                </h2>
                <h3 class="timestamp">
                    <a href="#" rel="subtle">{{timeago postedDate}}</a>
                    <a href="#" rel="subtle">{{datetime postedDate}}</a>
                </h3>
            </header>

            <p class="group g-content">{{longText}}</p>

            {{!-- <div class="group g-meta">
                <span class="stats">
                    <!--<span><strong>from</strong> Location</span>-->
                    <!--<span class="break">
                        <span><strong>999</strong> retweets</span>
                        <var>&middot;</var>
                        <span><strong>999</strong> favorites</span>
                    </span>-->
                </span>
            </div> --}}
        </div>

    </div>
{{/each}}